/* styles.css */
/*
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
*/

/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: url('imagen-fondo.jpg') center/cover fixed;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    height: 100vh; /* Ajusta la altura del encabezado según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 header h1, header p {
	background-color: rgba(255, 255, 255, 0.2); /* Color de fondo con transparencia */
    padding: 10px; /* Agrega un espacio de relleno alrededor del texto */
    border-radius: 5px; /* Añade esquinas redondeadas al fondo */
	text-shadow: 1px 1px 2px black;
} 

h1, h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
